header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
body {
    margin: 0;
}
main {
    margin: 0;
}
figure {
    margin: 0;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 30px;
}

.hero {
    height: 300px;
    overflow: hidden;
    
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-text {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.main-container{
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 1fr;
    
}
.booking {
    background-color:  lightblue;
    padding: 15px;
}
.weatherBox {
    background-color:  lightgreen;
    padding: 15px;
    text-align: center;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 5px;
}


@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }
    .hero {
        height: 170px;
        overflow: hidden;
    }
    .main-container{
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr;
    
    }
   
}